#createProjAnchorPane {
    -fx-background-color: #ffffff;
}

.button {
    -fx-background-color: #ffffff;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-radius: 10;
}

.button:hover{
    -fx-background-color: #ffffff;
}

#deleteBtn {
    -fx-background-image: url("images/used/删除.png");
    -fx-pref-height: 30px;
    -fx-pref-width: 30px;
    -fx-background-size: 30px, 30px;
}

#ctrBtn, #mtrBtn {
    -fx-background-image: url(images/used/时间.png);
    -fx-pref-width: 25;
    -fx-pref-height: 25;
    -fx-background-size: 25px, 25px;
}

#createProjResetBtn, #createProjSaveBtn, #createProjNextBtn {
    -fx-background-color: #b4b4b4;
    -fx-font-family: "微软雅黑";
}

#createProjResetBtn:hover, #createProjSaveBtn:hover, #createProjNextBtn:hover {
    -fx-background-color: #ba6e05;
}
