#exportResultAnchorPane {
    -fx-background-color: white;
}

#buttonVBox {
    -fx-background-color: rgb(16, 110, 190);
}

#firstNameLabel {
    -fx-background-color: rgb(16, 110, 190);
    -fx-font-family: "仿宋";
    -fx-font-weight: bold;
    -fx-font-size: 18;
    -fx-text-fill: #ffffff;
    -fx-padding: 7;
}

.button {
    -fx-background-color: rgb(16, 110, 190);
    /*设置圆角大小*/
    -fx-background-radius: 0;
    -fx-font-size: 15;
    -fx-text-fill: white;
}

#selectDirectoryBtn {
    -fx-background-image: url("images/used/open.png");
    -fx-cursor: hand;
    -fx-pref-width: 40px;
    -fx-pref-height: 40px;
    -fx-background-size: 40px;
    -fx-background-position: center;
}

#exportBtn {
    -fx-background-image: url("images/used/export.png");
    -fx-cursor: open-hand;
    -fx-pref-width: 30px;
    -fx-pref-height: 30px;
    -fx-background-size: 30px;
    -fx-background-position: center;
}

/*设置表格头居中、字体大小，字体颜色*/
.table-view .column-header .label{
    -fx-alignment: center;
    -fx-font-family: "Arial";
    -fx-text-fill: rgba(0, 0, 0, 1);
    -fx-font-size: 15;
    -fx-background-color: #00a0ff;
}

/*设置表格头高度*/
.table-view > .column-header-background{
    -fx-pref-height: 25px;
}

/*设置每一列内容居中，每一行高度*/
.table-view .table-row-cell{
    -fx-background-insets: 0px;
    -fx-cell-size: 25px;
    -fx-alignment: center;
}

.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}


.table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell:filled:selected {
    -fx-background: -fx-selection-bar;
    -fx-table-cell-border-color: derive(-fx-selection-bar, 20%);
    -fx-background-color: #6fbfff;
}

/*Selected when control is not focused*/
.table-row-cell:filled > .table-cell:selected {
    -fx-background: -fx-selection-bar-non-focused;
    -fx-table-cell-border-color: derive(-fx-selection-bar-non-focused, 20%);
}