.root {
    -fx-font-family: "仿宋";
    -fx-font-size: 16px;
}

.label {
    /*-fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );*/
    -fx-font-family: "楷体";
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-wrap-text: true;
    -fx-text-alignment: center;
}

#borderPane {
    /*-fx-background-image: url("images/奢华绸缎.png");*/
    -fx-background-size: stretch stretch;
    -fx-background-position: center center;
    -fx-background-color: linear-gradient(to bottom, #e8f0bf, #bcd0f0);
}

#button1, #button2, #button3, #button4, #button5 {
    /*-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.7), 10, 0.4, 5, 5);*/
    -fx-background-color: linear-gradient(#00678e, #0095cc);
    -fx-background-position: center center;
    -fx-background-size: 90px;
    -fx-font-family: "仿宋";
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
    -fx-text-fill: #000000;
    -fx-background-radius: 0;
}

#button1:hover, #button2:hover, #button3:hover, #button4:hover, #button5:hover {
    -fx-background-color: linear-gradient(#83C9FD, #0C9FE8 50%, #1979A8 50%,#0C8AE8);
    -fx-text-fill: #FF0900;
    -fx-background-radius: 0;
}

#button1 {
    -fx-background-image: url("images/used/colorfulbookstree.png");
}

#button2 {
    -fx-background-image: url("images/used/redboatincarton.png");
}

#button3 {
    -fx-background-image: url("images/used/magnifier.png");
}

#button4 {
    -fx-background-image: url("images/used/users.png");
}

#button5 {
    -fx-background-insets: 5;
}

#titleLabel {
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
    -fx-font-family: "隶书";
    -fx-font-size: 32px;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
}