#inputParamAnchorPane {
    -fx-background-color: #ffffff;
}

.button {
    -fx-background-color: #ffffff;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-radius: 5;
}

.button:hover {
    -fx-background-color: #ffffff;
}

#deleteVersionBtn {
    -fx-background-image: url("images/used/delete.png");
    -fx-background-color: #ffffff;
    -fx-pref-height: 30px;
    -fx-pref-width: 30px;
    -fx-background-size: 30px, 30px;
}

#addVersionBtn, #inputParamSaveBtn, #inputParamNextBtn {
    -fx-background-color: #039ed3;
}

#addVersionBtn:hover, #inputParamSaveBtn:hover, #inputParamNextBtn:hover {
    -fx-background-color: #ba6e05;
}

