#recLabel {
    -fx-background-color: rgb(0, 120, 255);
    -fx-font-family: "仿宋";
    -fx-font-weight: bold;
    -fx-font-size: 18;
    -fx-text-fill: #ffffff;
    -fx-padding: 7;
}

#recVbox {
    -fx-background-color: rgb(0, 150, 255);
}

.button {
    -fx-background-color: rgb(0, 150, 255);
    /*设置圆角大小*/
    -fx-background-radius: 0;
    -fx-font-size: 15;
    -fx-text-fill: white;
    /*-fx-text-alignment: center left;*/
}