#knowledgeSupplyBorderPane {
    -fx-background-color: #ffffff;
}

#leftVbox {
    -fx-background-color: rgb(0, 100, 255);
}

.button {
    -fx-background-color: rgb(0, 100, 255);
    /*设置圆角大小*/
    -fx-background-radius: 0;
    -fx-background-size: 20px;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.button:hover {
    -fx-background-color: rgb(174, 170, 255);
}

#recommendBtn {
    -fx-background-image: url("images/used/searchnotfocus.png");
    -fx-background-size: 30px;
}

#supplyBtn {
    -fx-background-image: url("images/used/supply.png");
    -fx-background-size: 30px;
}

#backBtn {
    -fx-background-image: url("images/used/homepage.png");
    -fx-background-size: 25px;
}


.combo-box {
    -fx-background-radius: 0;
}

.tab:hover, .choice-box:hover {
    -fx-background-color: #44B39F;
    -fx-text-fill: white;
    -fx-color: #1a83e1;
}

.tab {
    -fx-font-size: 12px;
    -fx-background-color: white;
    -fx-background-size: 13px;
    -fx-background-repeat: no-repeat;
    -fx-background-insets: 100%;
}

.tab:selected {
    -fx-background-color: #1a83e1;
    -fx-text-fill: white;
    -fx-color: #1a83e1;
}

.text-field {
    /*-fx-background-color: #a9a9a9 , white , white;*/
    /*-fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;*/
    -fx-background-radius: 0;
}

.text-field:focused {
    /*-fx-background-color: #a9a9a9 , white , white;*/
    /*-fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;*/
    -fx-background-radius: 0;
}

/*设置表格头居中、字体大小，字体颜色*/
.table-view .column-header .label {
    -fx-alignment: center;
    -fx-font-family: "Arial";
    -fx-text-fill: rgba(0, 0, 0, 1);
    -fx-font-size: 15;
    -fx-background-color: #00a0ff;
}

/*设置表格头高度*/
.table-view > .column-header-background {
    -fx-pref-height: 25px;
}

/*设置每一列内容居中，每一行高度*/
.table-view .table-row-cell {
    -fx-background-insets: 0px;
    -fx-cell-size: 25px;
    -fx-alignment: center;
}

.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}


.table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell:filled:selected {
    -fx-background: -fx-selection-bar;
    -fx-table-cell-border-color: derive(-fx-selection-bar, 20%);
    -fx-background-color: #6fbfff;
}

/*Selected when control is not focused*/
.table-row-cell:filled > .table-cell:selected {
    -fx-background: -fx-selection-bar-non-focused;
    -fx-table-cell-border-color: derive(-fx-selection-bar-non-focused, 20%);
}