#knowledgeResourceBorderPane {
    -fx-background-color: #ffffff;
}

#knowledgeResourceManaVbox {
    -fx-background-color: rgb(0, 95, 190);
}

.button {
    -fx-background-color: rgb(0, 95, 190);
    /*设置圆角大小*/
    -fx-background-radius: 0;
    -fx-background-size: 20px;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.button:hover {
    -fx-background-color: rgb(0, 95, 190);
}

#KBBtn {
    -fx-background-image: url("images/used/knowledgebase.png");
    -fx-background-size: 25px;
}

#DBBtn {
    -fx-background-image: url("images/used/database.png");
    -fx-background-size: 25px;
}

#backHomeBtn {
    -fx-background-image: url("images/used/homepage.png");
    -fx-background-size: 25px;
}

.combo-box {
    -fx-background-radius: 0;
}

.tab:hover, .choice-box:hover {
    -fx-background-color: #44B39F;
    -fx-text-fill: white;
    -fx-color: #1a83e1;
}

.tab {
    -fx-font-size: 12px;
    -fx-background-color: white;
    -fx-background-size: 13px;
    -fx-background-repeat: no-repeat;
    -fx-background-insets: 100%;
}

.tab:selected {
    -fx-background-color: #1a83e1;
    -fx-text-fill: white;
    -fx-color: #1a83e1;
}

.text-field {
    /*-fx-background-color: #a9a9a9 , white , white;*/
    /*-fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;*/
    -fx-background-radius: 0;
}

.text-field:focused {
    /*-fx-background-color: #a9a9a9 , white , white;*/
    /*-fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;*/
    -fx-background-radius: 0;
}

/*设置表格头居中、字体大小，字体颜色*/
.table-view .column-header .label{
    -fx-alignment: center;
    -fx-font-family: "Arial";
    -fx-text-fill: rgb(0, 0, 0);
    -fx-font-size: 15;
    -fx-background-color: #5b9bd5;
}

/*设置表格头高度*/
.table-view > .column-header-background{
    -fx-pref-height: 25px;
}

/*设置每一列内容居中，每一行高度*/
.table-view .table-row-cell{
    -fx-background-insets: 0px;
    -fx-cell-size: 25px;
    -fx-alignment: center-left;
}

.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}

.table-view > .virtual-flow > .scroll-bar:vertical {
    -fx-background-insets: 0, 0 0 0 0;
    -fx-padding: -1 -1 -1 0;
}

.table-view:focused {
    -fx-background-color: rgb(222, 234, 246);
    -fx-background: -fx-selection-bar;
    -fx-text-fill: rgb(0, 0, 0);
}


.table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell:filled:selected {
    -fx-background: -fx-selection-bar;
    -fx-table-cell-border-color: derive(-fx-selection-bar, 20%);
    -fx-text-fill: rgb(0, 0, 0);
    -fx-background-color: rgb(189, 214, 238);
}

/*Selected when control is not focused*/
.table-row-cell:filled > .table-cell:selected {
    -fx-background: -fx-selection-bar-non-focused;
    -fx-table-cell-border-color: derive(-fx-selection-bar-non-focused, 20%);
}