.root {
//    -fx-background-image: url("images/蓝绿色时尚动感线条背景.png");
    -fx-background-size: stretch stretch;
    -fx-background-position: center;
}

.button {
    -fx-background-radius: 4;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.7), 10, 0, 0, 1);
    -fx-background-insets: 0, 1;
    -fx-padding: 5 20 5 20;
}

.tab:hover, .choice-box:hover, .button:hover {
	-fx-background-color: #44B39F;
	-fx-text-fill: white;
	-fx-color : #1a83e1;
}

.tab{
	-fx-font-size: 12px;
	-fx-background-color: white;
	-fx-background-size: 13px;
	-fx-background-repeat: no-repeat;
	-fx-background-insets: 100%;
}

.tab:selected{
	-fx-background-color: #1a83e1;
	-fx-text-fill: white;
	-fx-color : #1a83e1;
}

.text-field {
//    -fx-background-color: #a9a9a9 , white , white;
//    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}

.text-field:focused {
//    -fx-background-color: #a9a9a9 , white , white;
//    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}

/*更改表头样式*/
.table-column .label{
    -fx-background-color: #5f93e7;
    -fx-text-fill: white;
    -fx-text-alignment: center;
    -fx-graphic-text-gap:0;
}

/*表格内容区域*/
.table-view .placeholder{
}

/*表格列*/
.table-column{
}

/*表格内容区域每行的样式*/
.table-row-cell{
}

.table-row-cell:odd{
}

.table-row-cell .text{
    -fx-fill: black;
    -fx-font-family: "FZCuYuan-M03S";
    -fx-font-size: 10pt;
}

.tree-cell .tree-disclosure-node .arrow {
    -fx-shape: "M 0 -1 H 3 V -4 H 5 V -1 H 8 V 1 H 5 V 4 H 3 V 1 H 0 z"
}

.tree-cell:expanded .tree-disclosure-node .arrow {
    -fx-rotate: 0;
    -fx-scale-shape: false;
    -fx-shape: "M 0 -1 H 7 V 1 H 0 z";
}

#topToolBar {
    -fx-background-color: #4876FF;
}