#outfittingDesignBorderPane {
    -fx-background-color: white;
}

#buttonVBox {
    -fx-background-color: rgb(0, 95, 190);
}

.button {
    -fx-background-color: rgb(0, 95, 190);
    /*设置圆角大小*/
    -fx-background-radius: 0;
    -fx-background-size: 20px;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.button:hover{
    -fx-background-color: rgb(0, 95, 190);
}

.combo-box {
    -fx-background-radius: 0;
}

.text-field, .text-area {
    -fx-background-radius: 0;
}

#outfittingItemSelectionButton {
    /*设置背景图片*/
    -fx-background-image: url("images/used/design.png");
}

#layoutDesignButton {
    -fx-background-image: url("images/used/layout.png");
}

#designReviewButton {
    -fx-background-image: url("images/used/shenpi.png");
}

#exportButton {
    -fx-background-image: url("images/used/excelExport.png");
}

#backHomeBtn {
    -fx-background-image: url("images/used/homepage.png");
    -fx-background-size: 25px;
}

/*设置表格头居中、字体大小，字体颜色*/
.table-view .column-header .label{
    -fx-alignment: center;
    -fx-font-family: "Arial";
    -fx-text-fill: rgb(0, 0, 0);
    -fx-font-size: 15;
    -fx-background-color: #5b9bd5;
}

/*设置表格头高度*/
.table-view > .column-header-background{
    -fx-pref-height: 25px;
}

/*设置每一列内容居中，每一行高度*/
.table-view .table-row-cell{
    -fx-background-insets: 0px;
    -fx-cell-size: 25px;
    -fx-alignment: center-left;
}

.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}

.table-view > .virtual-flow > .scroll-bar:vertical {
    -fx-background-insets: 0, 0 0 0 0;
    -fx-padding: -1 -1 -1 0;
}

.table-view:focused {
    -fx-background-color: rgb(222, 234, 246);
    -fx-background: -fx-selection-bar;
    -fx-text-fill: rgb(0, 0, 0);
}


.table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell:filled:selected {
    -fx-background: -fx-selection-bar;
    -fx-table-cell-border-color: derive(-fx-selection-bar, 20%);
    -fx-text-fill: rgb(0, 0, 0);
    -fx-background-color: rgb(189, 214, 238);
}

/*Selected when control is not focused*/
.table-row-cell:filled > .table-cell:selected {
    -fx-background: -fx-selection-bar-non-focused;
    -fx-table-cell-border-color: derive(-fx-selection-bar-non-focused, 20%);
}