.root {
    /*-fx-background-image: url("images/蓝绿色时尚动感线条背景.png");*/
    /*-fx-background-size: stretch stretch;*/
    /*-fx-background-position: center;*/
}

#outfittingDesignBorderPane {
}

#buttonVBox {
    -fx-background-color: rgb(0, 100, 255);
}

.button {
    -fx-background-color: rgb(160, 191, 255);
    /*设置圆角大小*/
    -fx-background-radius: 0;
    -fx-background-size: 20px;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.button:hover{
    /*-fx-background-color: rgb(0, 130, 255);*/
}

#outfittingItemSelectionButton {
    -fx-background-color: rgb(0, 100, 255);
    /*设置背景图片*/
    -fx-background-image: url("images/used/设计.png");
}

#layoutDesignButton {
    -fx-background-color: rgb(0, 100, 255);
    -fx-background-image: url("images/used/icon_deploy_layout.png");
}

#designReviewButton {
    -fx-background-color: rgb(0, 100, 255);
    -fx-background-image: url("images/used/审批.png");
}

#exportButton {
    -fx-background-color: rgb(0, 100, 255);
    -fx-background-image: url("images/used/excel导出.png");
}

#backHomeBtn {
    -fx-background-color: rgb(0, 100, 255);
    -fx-background-image: url("images/used/首页.png");
    -fx-background-size: 25px;
}