#buttonVBox {
    -fx-background-color: rgb(0, 150, 255);
}

#firstNameLabel {
    -fx-background-color: rgb(0, 120, 255);
    -fx-font-family: "仿宋";
    -fx-font-weight: bold;
    -fx-font-size: 18;
    -fx-text-fill: #ffffff;
    -fx-padding: 7;
}

.button {
    -fx-background-color: rgb(0, 150, 255);
    /*设置圆角大小*/
    -fx-background-radius: 0;
    -fx-font-size: 15;
    -fx-text-fill: white;
}


/*!*设置表格头居中、字体大小，字体颜色*!*/
/*.table-view .column-header .label{*/
/*    -fx-alignment: center;*/
/*    -fx-font-family: "Arial";*/
/*    -fx-text-fill: rgba(0, 0, 0, 1);*/
/*    -fx-font-size: 15;*/
/*    -fx-background-color: #00a0ff;*/
/*}*/

/*!*设置表格头高度*!*/
/*.table-view > .column-header-background{*/
/*    -fx-pref-height: 25px;*/
/*}*/

/*!*设置每一列内容居中，每一行高度*!*/
/*.table-view .table-row-cell{*/
/*    -fx-background-insets: 0px;*/
/*    -fx-cell-size: 25px;*/
/*    -fx-alignment: center;*/
/*}*/

/*.table-row-cell:empty .table-cell {*/
/*    -fx-border-width: 0px;*/
/*}*/


/*.table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell:filled:selected {*/
/*    -fx-background: -fx-selection-bar;*/
/*    -fx-table-cell-border-color: derive(-fx-selection-bar, 20%);*/
/*    -fx-background-color: #6fbfff;*/
/*}*/

/*!*Selected when control is not focused*!*/
/*.table-row-cell:filled > .table-cell:selected {*/
/*    -fx-background: -fx-selection-bar-non-focused;*/
/*    -fx-table-cell-border-color: derive(-fx-selection-bar-non-focused, 20%);*/
/*}*/